<div class="login-container">
    <form class="login-form">
        <h2>Faça Login</h2>
        <div class="form-group">
            <label for="username">Usuário</label>
            <input type="text" id="username" v-model="entity.username" placeholder="Informe seu usuário">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" v-model="entity.password" placeholder="Informe sua senha">
        </div>
        <e-alert v-if="response" :response="response"></e-alert>
        <button type="button" class="btn btn-primary" @click="login()">Entrar</button>
    </form>
</div>