<div class="e-table">
    <div class="row add">
        <div class="col-md-1">
            <button type="button" class="btn btn-primary">
                <e-icon name="add"></e-icon>
                {{buttonAddLabel}}
            </button>
        </div>
    </div>

    <div class="row filters">
        <div class="col-md-2">
            <e-field :entity="filters" prop="filters" type="select" :label="$__i('Registros por página')"
                :options="maxRecordsOtions"></e-field>
        </div>

        <div class="col-md-4">
            <e-field :entity="filters" prop="search" type="text" :label="$__i('Pesquisar')"></e-field>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <template v-for="column in columns">
                    <th scope="col">{{column.label}}</th>
                </template>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in records">
                <template  v-for="column in columns">
                    <td scope="row">{{getEntityData(item, column.value)}}</td>
                </template>
            </tr>
        </tbody>
    </table>
</div>