<div class="e-table">
    <div class="row add">
        <div class="col-md-2">
           <slot name="addButton">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#'+addModalIdentifier">
                <e-icon name="add" color="#fff"></e-icon>
                {{buttonAddLabel}}
            </button>
           </slot>
        </div>
    </div>

    <div class="row filters">
        <div class="col-md-2">
            <e-field :entity="filters" prop="maxRecords" type="select" :label="$__i('Registros por página')"
                :options="maxRecordsOtions" @change="this.fetchRecords()"></e-field>
        </div>

        <div class="col-md-4">
            <e-field :entity="filters" prop="search" type="text" :label="$__i('Pesquisar')"></e-field>
        </div>
    </div>

    <div class="row count-ref">
        <small>
            {{$__i('Exibindo')}} {{filters.maxRecords > count ? count : filters.maxRecords}} {{$__i('dos')}} {{count}}
            {{$__i('Registros encontados')}}
        </small>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <template v-for="column in columns">
                    <th scope="col">{{column.label}}</th>
                </template>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in records">
                <template v-for="column in columns">
                    <td scope="row" v-if="column.slug !== 'actions'">
                        <slot :name="column.slug" :item="item">
                            {{getEntityData(item, column.value)}}
                        </slot>
                    </td>

                    <td scope="row" v-if="column.slug === 'actions'">
                        <slot :name="column.slug" :item="item">
                            <div class="actions">
                                <slot name="tableEdit" :table="{item, actionOptions}">
                                    <a href="#" v-if="actionOptions.includes('edit')">
                                        <e-icon name="edit" color="#caca3a"></e-icon>
                                    </a>
                                </slot>
                                <slot name="tableAlterStatusLocked" :table="{item, alterStatus,actionOptions}">
                                    <a href="#" v-if="actionOptions.includes('locked') && item.status == 1" @click="alterStatus(item, 'disabled')">
                                        <e-icon name="locked" color="red"></e-icon>
                                    </a>
                                </slot>
                                <slot name="tableAlterStatusUnlocked" :table="{item, alterStatus,actionOptions}">
                                    <a href="#" v-if="actionOptions.includes('unlocked') && item.status == 2" @click="alterStatus(item, 'enabled')">
                                        <e-icon name="unlocked" color="#07c107"></e-icon>
                                    </a>
                                </slot>

                                <slot name="tableTrash" :table="{item, deleteEntity,actionOptions}">
                                    <a href="#" v-if="actionOptions.includes('trash')"  @click="deleteEntity(item)">
                                        <e-icon name="trash" color="red"></e-icon>
                                    </a>
                                </slot>
                            </div>
                        </slot>
                    </td>
                </template>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <nav aria-label="..." class="pagination-area">
            <ul class="pagination">
                <li class="page-item" v-if="currentPage > 1">
                    <button class="page-link" @click="goToPage(currentPage - 1)">
                        <e-icon name="arrow-left"></e-icon>
                    </button>
                </li>
                <li class="page-item" v-for="page in visiblePages" :key="page"
                    :class="{ 'active': page === currentPage }">
                    <button class="page-link" @click="goToPage(page)">{{ page }}</button>
                </li>
                <li class="page-item" v-if="currentPage < pages">
                    <button class="page-link" @click="goToPage(currentPage + 1)">
                        <e-icon name="arrow-right"></e-icon>
                    </button>
                </li>
            </ul>

            <div class="go-to-page" v-if="pages > 1">
                <input ref="currentPageInput" v-model="currentPage" type="number" class="current form-control"
                    @change="goToPage($event.target.value)" @input="validatePage($event.target.value)"
                    @focus="selectValue()">
            </div>
        </nav>
    </div>
</div>

<!-- Modal iniciado que esta sem definições -->
<e-modal v-if="addModalIdentifier === 'exampleModal'" :title="$__i('Modal iniciado')" :entity="{}"
    :identifier="addModalIdentifier"></e-modal>

<e-modal :title="$__i('Alterar status')" :entity="entityModal" identifier="alterStatusModal">
    <template #default="{entityModal}">
        <slot name="alterStatusModalBody" :entityModal="entityModal">
            {{$__i('Você esta alterando o status do registro para')}} <strong>{{entityModal.status}}</strong>. {{$__i('tem certeza que deseja contiduar?')}}
        </slot>
    </template>

    <template #actions="{modal}">
        <slot name="alterStatusModalActions" :modal="modal" :entityModal=entityModal>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{$__i('Fechar')}}</button>
            <button type="button" class="btn btn-warning" @click="editStatus()">{{$__i('Salvar')}}</button>
        </slot>
    </template>
</e-modal>

<e-modal :title="$__i('Deletar registro')" :entity="entityModal" identifier="deleteModal">
    <template #default="{entityModal}">
        <slot name="deleteModalBody" :entityModal="entityModal">
            {{$__i('Você esta deletando o registro')}} <strong>#{{entityModal.entity?.id}}</strong>. {{$__i('tem certeza que deseja contiduar?')}}
        </slot>
    </template>

    <template #actions="{modal}">
        <slot name="deleteModalActions" :modal="modal" :entityModal=entityModal>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{$__i('Fechar')}}</button>
            <button type="button" class="btn btn-danger"
                @click="deleteRecord(entityModal.entity)">{{$__i('Deletar')}}</button>
        </slot>
    </template>
</e-modal>